<?xml version="1.0" encoding="utf-8"?>

<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="mobile" connectionString="Server=tcp:o787y1v1h4.database.windows.net,1433;Database=projdb;User ID=phill1@o787y1v1h4;Password=project5Pass;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add name="mobile2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Philipp\Desktop\grepo\itp5proj\itp5proj\SBase.mdf;Integrated Security=True;Connect Timeout=30" />
    <add name="MainDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Sergej\Desktop\FH\BIF5\ITP5\ITP5WS2013\itp5proj\itp5proj\SBase.mdf;Integrated Security=True;Connect Timeout=30"/>
    <add name="alternate" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\itp5proj\itp5proj\SBase.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
</configuration>
